<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Dashboard</title>
   <script src="./tailwind.js"></script>
</head>

<body class="bg-gray-100">
   <div class="w-full h-full block p-6">
      <div class="flex justify-between items-center mb-5">
         <h3 class="text-2xl font-bold text-black">
            Dashboard Overview
         </h3>
         <div class="flex gap-2">
            <div class="relative rounded bg-white">
               <select onchange="changeFilterType(event)"
                  class="relative inline-flex appearance-none rounded border border-gray-300 bg-white py-2 pl-4 pr-9 text-sm outline-none h-[42px]">
                  <option value="custom_date" selected>Custom Date</option>
                  <option value="month">Month</option>
                  <option value="year">Year</option>
               </select>
               <span class="absolute right-3 top-1/2 z-10 -translate-y-1/2">
                  <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M3.96967 6.21967C4.26256 5.92678 4.73744 5.92678 5.03033 6.21967L9 10.1893L12.9697 6.21967C13.2626 5.92678 13.7374 5.92678 14.0303 6.21967C14.3232 6.51256 14.3232 6.98744 14.0303 7.28033L9.53033 11.7803C9.23744 12.0732 8.76256 12.0732 8.46967 11.7803L3.96967 7.28033C3.67678 6.98744 3.67678 6.51256 3.96967 6.21967Z"
                        fill="#64748B"></path>
                  </svg>
               </span>
            </div>
            <div id="custom_date" class="flex gap-2"></div>
            <div id="month"></div>
            <div id="year"></div>
            <button type="button"
               class="px-4 text-sm font-medium text-center text-white bg-blue-700 rounded hover:bg-blue-800"
               onclick="fetchChart()">Filter</button>
         </div>
      </div>
      <div class="flex gap-2 mb-2">
         <div class="w-1/4">
            <div
               class="rounded-sm flex flex-col gap-2 border border-stroke bg-white p-5 shadow-default w-full h-[380px]">
               <h3 class="text-lg font-bold text-center mb-3">Layanan Solarwinds Memory CPU</h3>
               <div id="solarwindsMemory" class="flex flex-col gap-2"></div>
            </div>
         </div>
         <div class="w-1/4">
            <div
               class="rounded-sm flex flex-col gap-2 border border-stroke bg-white p-5 shadow-default w-full h-[380px] ">
               <h3 class="text-lg font-bold text-center mb-3">Layanan Solarwinds Disk</h3>
               <div id="solarwindsDisk" class="flex flex-col gap-2"></div>
            </div>
         </div>
         <div class="w-1/2">
            <div class="rounded-sm border border-stroke bg-white p-4 shadow-default h-[380px] w-full overflow-y-auto">
               <h3 class="text-lg font-bold text-center mb-3">Solarwinds Log</h3>
               <div class="overflow-x-auto">
                  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                     <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                           <th scope="col" class="px-4 py-2">
                              Waktu
                           </th>
                           <th scope="col" class="px-4 py-2">
                              Severity
                           </th>
                           <th scope="col" class="px-4 py-2">
                              Layanan
                           </th>
                           <th scope="col" class="px-4 py-2">
                              Node Name
                           </th>
                        </tr>
                     </thead>
                     <tbody id="solarwindsTbody">
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-600">
                           <th colspan="4" scope="row"
                              class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                              No data available
                           </th>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
      <div class="flex gap-2">
         <div class="w-1/4">
            <div
               class="rounded-sm flex flex-col gap-2 border border-stroke bg-white p-5 shadow-default w-full h-[380px]">
               <h3 class="text-lg font-bold text-center mb-3">Layanan AppDynamic Alert 1</h3>
               <div id="appdynamics1" class="flex flex-col gap-2"></div>
            </div>
         </div>
         <div class="w-1/4">
            <div
               class="rounded-sm flex flex-col gap-2 border border-stroke bg-white p-5 shadow-default w-full h-[380px]">
               <h3 class="text-lg font-bold text-center mb-3">Layanan AppDynamic Alert 2</h3>
               <div id="appdynamics2" class="flex flex-col gap-2"></div>
            </div>
         </div>
         <div class="w-1/2">
            <div class="rounded-sm border border-stroke bg-white p-4 shadow-default h-[380px] w-full overflow-y-auto">
               <h3 class="text-lg font-bold text-center mb-3">AppDynamics Log</h3>
               <div class="overflow-x-auto">
                  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                     <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                           <th scope="col" class="px-4 py-2">
                              Waktu
                           </th>
                           <th scope="col" class="px-4 py-2">
                              Severity
                           </th>
                           <th scope="col" class="px-4 py-2">
                              App
                           </th>
                           <th scope="col" class="px-4 py-2">
                              Event Name
                           </th>
                        </tr>
                     </thead>
                     <tbody id="appdynamicsTbody">
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-600">
                           <th colspan="4" scope="row"
                              class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                              No data available
                           </th>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>

   <script>
      let filterType = "custom_date";
      let appdynamics;
      let solarwinds;
      const limit = 10;

      let solarwindsChartMemory;
      let solarwindsChartDisk;

      let appdynamicsChart1;
      let appdynamicsChart2;

      const appdynamicsTable = document.getElementById("appdynamicsTbody");
      const solarwindsTable = document.getElementById("solarwindsTbody");

      const solarwindsMemory = document.getElementById("solarwindsMemory");
      const solarwindsDisk = document.getElementById("solarwindsDisk");

      const appdynamics1 = document.getElementById("appdynamics1");
      const appdynamics2 = document.getElementById("appdynamics2");

      const dateString = new Date().toISOString();
      const date = dateString.substring(0, dateString.indexOf('T'));
      const arrDate = date.split("-");

      const changeFilterType = (event) => {
         filterType = event.target.value;
         renderFilter();
      }

      const filter = {
         from: date,
         to: date,
         month: `${arrDate[0]}-${arrDate[1]}`,
         year: arrDate[0]
      }

      const onChangeFilter = (event, type) => {
         filter[type] = event.target.value;
      }

      const renderFilter = () => {
         let html = "";
         document.getElementById("custom_date").innerHTML = "";
         document.getElementById("month").innerHTML = "";
         document.getElementById("year").innerHTML = "";

         if (filterType === "custom_date") {
            html += `
               <input onchange="onChangeFilter(event, 'from')" type="date" value="${filter.from}"
                  class="bg-white border border-gray-300 text-black text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-[130px] p-2.5">
               <input onchange="onChangeFilter(event, 'to')"  type="date" value="${filter.to}"
                  class="bg-white border border-gray-300 text-black text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-[130px] p-2.5">
            `;
            document.getElementById("custom_date").innerHTML = html;
         } else if (filterType === "month") {
            html += `
               <input onchange="onChangeFilter(event, 'month')" type="month" value="${filter.month}"
                  class="bg-white border border-gray-300 text-black text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-[120px] p-2.5"
                  placeholder="From">
            `;
            document.getElementById("month").innerHTML = html;
         } else if (filterType === "year") {
            html += `
               <input type="text" value="${filter.year}" onkeyup="onChangeFilter(event, 'year')"
                  class="bg-white border border-gray-300 text-black text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-[60px] p-2.5"
                  placeholder="From">
            `;
            document.getElementById("year").innerHTML = html;
         }
      }

      const getFilterParams = () => {
         let params = "";
         if (filterType === "custom_date") {
            params = `start_date=${filter.from}&end_date=${filter.to}`
         } else if (filterType === "month") {
            params = `month=${filter.month}`;
         } else if (filterType === "year") {
            params = `year=${filter.year}`;
         }
         return params
      }

      function getTimeFromTimestamp(timestamp) {
         const date = new Date(timestamp);
         const hours = date.getHours();
         const minutes = date.getMinutes();
         // const seconds = date.getSeconds();

         const paddedHours = String(hours).padStart(2, '0');
         const paddedMinutes = String(minutes).padStart(2, '0');
         // const paddedSeconds = String(seconds).padStart(2, '0');

         return `${paddedHours}:${paddedMinutes}`;
      }

      const fetchAppDynamic = async () => {
         const fetchAppDynamic = await fetch(`/appdynamics?limit=${limit}`);
         const response = await fetchAppDynamic.json();
         return response;
      }

      const fetchSolarwinds = async () => {
         const fetchAppDynamic = await fetch(`/solarwinds?limit=${limit}`);
         const response = await fetchAppDynamic.json();
         return response;
      }

      const renderAppdynamicData = () => {
         let html = "";
         for (let index = 0; index < appdynamics.length; index++) {
            const item = appdynamics[index];
            html += `
               <tr
                  class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 hover:cursor-pointer">
                  <td class="px-4 py-2">
                     ${getTimeFromTimestamp(item.created_at)}
                  </td>
                  <th scope="row" class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     ${item.severity}
                  </th>
                  <td class="px-4 py-2">
                     ${item.app}
                  </td>
                  <td class="px-4 py-2 whitespace-nowrap">
                     ${item.event_name}
                  </td>
               </tr>
            `;
         }
         if (appdynamics.length > 0) {
            appdynamicsTable.innerHTML = html;
         } else {
            appdynamicsTable.innerHTML = `
               <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-600">
                  <th colspan="4" scope="row"
                     class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                     No data available
                  </th>
               </tr>
            `;
         }

      }

      const renderSolarwindsData = () => {
         let html = "";
         for (let index = 0; index < solarwinds.length; index++) {
            const item = solarwinds[index];

            html += `
               <tr
                  class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                  <td class="px-4 py-2">
                     ${getTimeFromTimestamp(item.created_at)}
                  </td>
                  <th scope="row" class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     ${item.severity}
                  </th>
                  <td class="px-4 py-2">
                     ${item.layanan}
                  </td>
                  <td class="px-4 py-2">
                     ${item.node_name}
                  </td>
               </tr>
            `;
         }
         if (solarwinds.length > 0) {
            solarwindsTable.innerHTML = html;
         } else {
            solarwindsTable.innerHTML = `
               <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-600">
                  <th colspan="8" scope="row"
                     class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                     No data available
                  </th>
               </tr>
            `;
         }

      }

      const renderSolarwindsChart = () => {
         let memoryHtml = "";

         const totalMemory = solarwindsChartMemory.reduce((acc, item) => {
            return acc + Number(item.total);
         }, 0);

         const updatedMemoryList = solarwindsChartMemory.map(item => {
            const percent = (Number(item.total) / totalMemory) * 100;
            return {
               ...item,
               percent: percent.toFixed(2)
            };
         });

         for (let index = 0; index < updatedMemoryList.length; index++) {
            const item = updatedMemoryList[index];
            memoryHtml += `
               <div class="flex items-center gap-2">
                  <div class="w-2/6 flex gap-3">
                     <p class="font-medium text-black text-sm">${index + 1}</p>
                     <p class="font-medium text-black text-sm">${item.layanan}</p>
                  </div>
                  <div class="relative block h-[1.125rem] w-4/6 bg-[#e5e7eb]">
                     <div
                        class="absolute left-0 top-0 flex h-full w-[${item.percent}%] items-center justify-center rounded bg-red-700 text-xs font-medium text-white">
                        ${item.total}
                     </div>
                  </div>
               </div>
            `;
         }

         if (solarwindsChartMemory.length === 0) {
            solarwindsMemory.innerHTML = `<p class="text-center">No data available</p>`;
         } else {
            solarwindsMemory.innerHTML = memoryHtml;
         }

         let diskHtml = "";

         const totalDisk = solarwindsChartDisk.reduce((acc, item) => {
            return acc + Number(item.total);
         }, 0);

         const updatedDiskList = solarwindsChartDisk.map(item => {
            const percent = (Number(item.total) / totalDisk) * 100;
            return {
               ...item,
               percent: percent.toFixed(2)
            };
         });

         for (let index = 0; index < updatedDiskList.length; index++) {
            const item = updatedDiskList[index];
            diskHtml += `
               <div class="flex items-center gap-2">
                  <div class="w-2/6 flex gap-3">
                     <p class="font-medium text-black text-sm">${index + 1}</p>
                     <p class="font-medium text-black text-sm">${item.layanan}</p>
                  </div>
                  <div class="relative block h-[1.125rem] w-4/6 bg-[#e5e7eb]">
                     <div
                        class="absolute left-0 top-0 flex h-full w-[${item.percent}%] items-center justify-center rounded bg-blue-700 text-xs font-medium text-white">
                        ${item.total}
                     </div>
                  </div>
               </div>
            `;
         }
         if (solarwindsChartDisk.length === 0) {
            solarwindsDisk.innerHTML = `<p class="text-center">No data available</p>`;
         } else {
            solarwindsDisk.innerHTML = diskHtml;
         }

      }

      const renderAppdynamicsChart = () => {
         let appdynamics1Html = "";

         const totalAppdynamic1 = appdynamicsChart1.reduce((acc, item) => {
            return acc + Number(item.total);
         }, 0);

         const updatedAppdynamics1List = appdynamicsChart1.map(item => {
            const percent = (Number(item.total) / totalAppdynamic1) * 100;
            return {
               ...item,
               percent: percent.toFixed(2)
            };
         });

         for (let index = 0; index < updatedAppdynamics1List.length; index++) {
            const item = updatedAppdynamics1List[index];
            appdynamics1Html += `
               <div class="flex items-center gap-2">
                  <div class="w-2/6 flex gap-3">
                     <p class="font-medium text-black text-sm">${index + 1}</p>
                     <p class="font-medium text-black text-sm">${item.app}</p>
                  </div>
                  <div class="relative block h-[1.125rem] w-4/6 bg-[#e5e7eb]">
                     <div
                        class="absolute left-0 top-0 flex h-full w-[${item.percent}%] items-center justify-center rounded bg-green-700 text-xs font-medium text-white">
                        ${item.total}
                     </div>
                  </div>
               </div>
            `;
         }

         if (appdynamicsChart1.length === 0) {
            appdynamics1.innerHTML = `<p class="text-center">No data available</p>`;
         } else {
            appdynamics1.innerHTML = appdynamics1Html;
         }

         let appdynamics2Html = "";

         const totalAppdynamic2 = appdynamicsChart2.reduce((acc, item) => {
            return acc + Number(item.total);
         }, 0);

         const updatedAppdynamic2List = appdynamicsChart2.map(item => {
            const percent = (Number(item.total) / totalAppdynamic2) * 100;
            return {
               ...item,
               percent: percent.toFixed(2)
            };
         });

         for (let index = 0; index < updatedAppdynamic2List.length; index++) {
            const item = updatedAppdynamic2List[index];
            appdynamics2Html += `
               <div class="flex items-center gap-2">
                  <div class="w-2/6 flex gap-3">
                     <p class="font-medium text-black text-sm">${index + 1}</p>
                     <p class="font-medium text-black text-sm">${item.app}</p>
                  </div>
                  <div class="relative block h-[1.125rem] w-4/6 bg-[#e5e7eb]">
                     <div
                        class="absolute left-0 top-0 flex h-full w-[${item.percent}%] items-center justify-center rounded bg-yellow-700 text-xs font-medium text-white">
                        ${item.total}
                     </div>
                  </div>
               </div>
            `;
         }

         if (appdynamicsChart2.length === 0) {
            appdynamics2.innerHTML = `<p class="text-center">No data available</p>`;
         } else {
            appdynamics2.innerHTML = appdynamics2Html;
         }

      }


      const fetchAppDynamicsData = async () => {
         appdynamics = await fetchAppDynamic();
         renderAppdynamicData();
      }

      const fetchSolarwindsData = async () => {
         solarwinds = await fetchSolarwinds();
         renderSolarwindsData();
      }

      const fetchSolarwindsChart = async () => {
         const params = getFilterParams();
         const [memory, disk] = await Promise.all([
            fetch(`/solarwinds/chart?limit=${limit}&${params}&alert=Memory CPU Alert`),
            fetch(`/solarwinds/chart?limit=${limit}&${params}&alert=Disk Alert`)
         ]);
         solarwindsChartMemory = await memory.json();
         solarwindsChartDisk = await disk.json();

         renderSolarwindsChart();
      }

      const fetchAppdynamicsChart = async () => {
         const params = getFilterParams();
         const [alert1, alert2] = await Promise.all([
            fetch(`/appdynamics/chart?limit=${limit}&${params}&alert=AppDynamics_Alert_1`),
            fetch(`/appdynamics/chart?limit=${limit}&${params}&alert=AppDynamics_Alert_2`)
         ]);
         appdynamicsChart1 = await alert1.json();
         appdynamicsChart2 = await alert2.json();

         renderAppdynamicsChart();
      }

      const fetchChart = async () => {
         await fetchSolarwindsChart();
         await fetchAppdynamicsChart();
      }

      fetchAppDynamicsData();
      fetchSolarwindsData();
      fetchChart();
      renderFilter();
   </script>
</body>

</html>