<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Raw Data</title>
   <script src="./tailwind.js"></script>
</head>

<body class="bg-gray-100">
   <div class="w-full h-full flex-1 p-6">
      <div
         class="rounded-sm border border-stroke bg-white p-6 shadow-default dark:border-strokedark dark:bg-boxdark mb-6">
         <div class="flex justify-between items-center mb-6">
            <p class="text-xl font-bold">Solarwinds Log</p>
            <div class="flex items-center gap-2">
               <button type="button" onclick="downloadCsv('solarwinds')"
                  class="px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300">Download
                  CSV</button>
            </div>
         </div>
         <div class="relative overflow-x-auto shadow-md rounded-sm">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
               <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                  <tr>
                     <th scope="col" class="px-6 py-3">
                        Alert
                     </th>
                     <th scope="col" class="px-6 py-3 text-center">
                        Severity
                     </th>
                     <th scope="col" class="px-6 py-3">
                        Layanan
                     </th>
                     <th scope="col" class="px-6 py-3 text-center">
                        Priority
                     </th>
                     <th scope="col" class="px-6 py-3">
                        Service Time
                     </th>
                     <th scope="col" class="px-6 py-3">
                        IP Address
                     </th>
                     <th scope="col" class="px-6 py-3">
                        Node Name
                     </th>
                     <th scope="col" class="px-6 py-3">
                        Note
                     </th>
                     <th scope="col" class="px-6 py-3">
                        Created At
                     </th>
                  </tr>
               </thead>
               <tbody id="solarwindsTbody">
                  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-600">
                     <th colspan="8" scope="row"
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                        No data available
                     </th>
                  </tr>
               </tbody>
            </table>
         </div>
         <nav class="flex items-center flex-column flex-wrap md:flex-row justify-end pt-4" aria-label="Table navigation"
            id="solarwindsPagination"></nav>
      </div>

      <div class="rounded-sm border border-stroke bg-white p-6 shadow-default dark:border-strokedark dark:bg-boxdark">
         <div class="flex justify-between items-center mb-6">
            <p class="text-xl font-bold">AppDynamics Log</p>
            <div class="flex items-center gap-2">
               <button type="button" onclick="downloadCsv('appdynamics')"
                  class="px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300">Download
                  CSV</button>
            </div>
         </div>
         <div class="relative overflow-x-auto shadow-md rounded-sm">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
               <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                  <tr>
                     <th scope="col" class="px-6 py-3">
                        Alert
                     </th>
                     <th scope="col" class="px-6 py-3 text-center">
                        Severity
                     </th>
                     <th scope="col" class="px-6 py-3">
                        App
                     </th>
                     <th scope="col" class="px-6 py-3 text-center">
                        Priority
                     </th>
                     <th scope="col" class="px-6 py-3">
                        Service Time
                     </th>
                     <th scope="col" class="px-6 py-3 text-center">
                        Recipient Name
                     </th>
                     <th scope="col" class="px-6 py-3 text-center">
                        Normal
                     </th>
                     <th scope="col" class="px-6 py-3 text-center">
                        Slow
                     </th>
                     <th scope="col" class="px-6 py-3 text-center">
                        Very Slow
                     </th>
                     <th scope="col" class="px-6 py-3 text-center">
                        Stall
                     </th>
                     <th scope="col" class="px-6 py-3 text-center">
                        Error
                     </th>
                     <th scope="col" class="px-6 py-3 text-center">
                        DateTime
                     </th>
                     <th scope="col" class="px-6 py-3 text-center">
                        Note
                     </th>
                     <th scope="col" class="px-6 py-3">
                        Created At
                     </th>
                  </tr>
               </thead>
               <tbody id="appdynamicsTbody">
                  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-600">
                     <th colspan="8" scope="row"
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                        No data available
                     </th>
                  </tr>
               </tbody>
            </table>
         </div>
         <nav class="flex items-center flex-column flex-wrap md:flex-row justify-end pt-4" aria-label="Table navigation"
            id="appdynamicPagination"></nav>
      </div>
   </div>

   <div class="flex justify-center" id="modal" style="display: none;">
      <div class="bg-gray-900 bg-opacity-50 fixed inset-0 z-[999]"></div>
      <div tabindex="-1"
         class="fixed top-0 left-0 right-0 z-[1000] !items-center w-full p-4 overflow-x-hidden flex justify-center overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
         <div class="relative w-full max-w-2xl max-h-full">
            <div class="relative bg-white rounded shadow">
               <div class="flex items-center justify-between p-3 border-b rounded-t">
                  <h3 class="text-xl font-semibold">Klarifikasi</h3>
               </div>
               <div class="p-3">
                  <input type="text" id="klarifikasi"
                     class="bg-white border border-gray-300 text-black text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
               </div>
               <div class="flex items-center justify-between p-3 space-x-2 border-t border-gray-200 rounded-b">
                  <button onclick="hideModal()"
                     class="inline-flex items-center px-3 py-1.5 text-sm font-medium text-center text-white bg-blue-700 rounded focus:ring-4 focus:ring-blue-200 hover:bg-blue-800 mt-2">
                     Batal
                  </button>
                  <button onclick="submitModal()"
                     class="inline-flex items-center px-3 py-1.5 text-sm font-medium text-center text-white bg-green-700 rounded focus:ring-4 focus:ring-green-200 hover:bg-green-800 mt-2">
                     Simpan
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>

   <script>
      let appdynamics;
      let solarwinds;
      let app = null;

      const appdynamicsTable = document.getElementById("appdynamicsTbody");
      const appdynamicPagination = document.getElementById("appdynamicPagination");

      const solarwindsTable = document.getElementById("solarwindsTbody");
      const solarwindsPagination = document.getElementById("solarwindsPagination");

      let appdynamicPageIndex = 0;
      let appdynamicLimit = 10;

      let solarwindsPageIndex = 0;
      let solarwindsLimit = 10;

      let selectedId = null;

      let filter = {
         solarwinds: {
            severity: null,
            layanan: null,
            priority: null
         },
         appdynamics: {
            severity: null,
            app: null,
            priority: null
         }
      }

      const downloadCsv = async (type) => {
         const url = new URLSearchParams(window.location.search);
         const layanan = url.get('layanan');
         if (!layanan) {
            alert("Layanan is required");
            window.location.href = "/"
         }

         window.open(`/${type}/export?limit=${type === 'solarwinds' ? solarwindsLimit : appdynamicLimit}&page=${type === 'solarwinds' ? solarwindsPageIndex : appdynamicPageIndex}&layanan=${layanan}`, '_blank')
      }

      const filterOnChange = async (event, app, field) => {
         const value = event.target.value;
         filter[app][field] = value;
      }

      const fetchAppDynamic = async () => {
         const params = await getQueryParams('appdynamics');

         const fetchAppDynamic = await fetch(`/appdynamics?${params}`);
         const response = await fetchAppDynamic.json();
         return response;
      }

      const fetchSolarwinds = async () => {
         const params = await getQueryParams('solarwinds');

         const fetchAppDynamic = await fetch(`/solarwinds?${params}`);
         const response = await fetchAppDynamic.json();
         return response;
      }

      const getQueryParams = async (app) => {
         let params = [];
         if (app === "solarwinds") {
            params.push(`page=${solarwindsPageIndex}`);
            params.push(`limit=${solarwindsLimit}`);

            if (filter.solarwinds.severity !== null) params.push(`severity=${filter.solarwinds.severity}`);
            if (filter.solarwinds.layanan !== null) params.push(`layanan=${filter.solarwinds.layanan}`);
            if (filter.solarwinds.priority !== null) params.push(`priority=${filter.solarwinds.priority}`);
         } else if (app === "appdynamics") {
            params.push(`page=${appdynamicPageIndex}`);
            params.push(`limit=${appdynamicLimit}`);

            if (filter.appdynamics.severity !== null) params.push(`severity=${filter.appdynamics.severity}`);
            if (filter.appdynamics.app !== null) params.push(`app=${filter.appdynamics.app}`);
            if (filter.appdynamics.priority !== null) params.push(`priority=${filter.appdynamics.priority}`);
         }

         return params.join("&");
      }

      const formatDateTime = (isoDateStr) => {
         const date = new Date(isoDateStr);

         const months = [
            "January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
         ];

         const year = date.getUTCFullYear();
         const month = months[date.getUTCMonth()];
         const day = date.getUTCDate();

         const hours = date.getUTCHours().toString().padStart(2, '0');
         const minutes = date.getUTCMinutes().toString().padStart(2, '0');

         const formattedDate = `${month} ${day}, ${year}`;
         const formattedTime = `${hours}:${minutes}`;

         return `${formattedDate}, ${formattedTime}`;
      }

      const showModal = (id, typeApp) => {
         selectedId = id;
         app = typeApp;
         document.getElementById("modal").removeAttribute('style');
      }

      const hideModal = () => {
         document.getElementById("modal").setAttribute('style', 'display: none;')
      }

      const submitModal = () => {
         if (selectedId === null || app === null) return;
         fetchUpdateKlarifikasi();
      }

      const fetchUpdateKlarifikasi = async () => {
         try {
            const klarifikasi = document.getElementById("klarifikasi").value;
            const response = await fetch(`/${app}/klarifikasi/${selectedId}`, {
               method: "PUT",
               headers: {
                  "Content-Type": "application/json",
               },
               body: JSON.stringify({ klarifikasi }),
            });

            document.getElementById("klarifikasi").value = "";
            document.getElementById("modal").setAttribute('style', 'display: none;');
         } catch (error) {
            console.log(error)
         }
      }

      const renderAppdynamicData = () => {
         let html = "";
         for (let index = 0; index < appdynamics.length; index++) {
            const item = appdynamics[index];
            html += `
               <tr
                  onclick="showModal('${item.id}','appdynamics')"
                  class="bg-white border-b hover:bg-gray-50 hover:cursor-pointer">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                     ${item.alert ?? '-'}
                  </th>
                  <td class="px-6 py-4 text-center">
                     ${item.severity ?? '-'}
                  </td>
                  <td class="px-6 py-4">
                     ${item.app ?? '-'}
                  </td>
                  <td class="px-6 py-4 text-center">
                     ${item.priority ?? '-'}
                  </td>
                  <td class="px-6 py-4">
                     ${item.service_time ?? '-'}
                  </td>
                  <td class="px-6 py-4 text-center">
                     ${item.recipient_name ?? '-'}
                  </td>
                  <td class="px-6 py-4 text-center">
                     ${item.normal ?? '-'}
                  </td>
                  <td class="px-6 py-4 text-center">
                     ${item.slow ?? '-'}
                  </td>
                  <td class="px-6 py-4 text-center">
                     ${item.very_slow ?? '-'}
                  </td>
                  <td class="px-6 py-4 text-center">
                     ${item.stall ?? '-'}
                  </td>
                  <td class="px-6 py-4 text-center">
                     ${item.error ?? '-'}
                  </td>
                  <td class="px-6 py-4 text-center">
                     ${item.date_time ?? '-'}
                  </td>
                  <td class="px-6 py-4 text-center">
                     ${item.klarifikasi ?? '-'}
                  </td>
                  <td class="px-6 py-4">
                     ${formatDateTime(item.created_at)}
                  </td>
               </tr>
            `;
         }
         if (appdynamics.length > 0) {
            appdynamicsTable.innerHTML = html;
         } else {
            appdynamicsTable.innerHTML = `
               <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-600">
                  <th colspan="14" scope="row"
                     class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                     No data available
                  </th>
               </tr>
            `;
         }

      }

      const renderAppdynamicPagination = () => {

         let html = `
            <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
               <li>
                  <button onclick="appdynamicPrevPage()" ${appdynamicPageIndex === 0 ? 'disabled="true"' : ''} class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 border border-gray-300 rounded-s-lg dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 ${appdynamicPageIndex === 0 ? 'bg-gray-300 disabled:opacity-50 cursor-not-allowed' : 'bg-white hover:bg-gray-100 hover:text-gray-700 dark:hover:bg-gray-700 dark:hover:text-white'}">Previous</button>
               </li>
               <li>
                  <button onclick="appdynamicNextPage()" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</button>
               </li>
            </ul>
         `;
         appdynamicPagination.innerHTML = html;
      }

      const renderSolarwindsData = () => {
         let html = "";
         for (let index = 0; index < solarwinds.length; index++) {
            const item = solarwinds[index];
            html += `
               <tr
                  onclick="showModal('${item.id}','solarwinds')"
                  class="bg-white border-b hover:bg-gray-50 hover:cursor-pointer">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                     ${item.alert ?? '-'}
                  </th>
                  <td class="px-6 py-4 text-center">
                     ${item.severity ?? '-'}
                  </td>
                  <td class="px-6 py-4">
                     ${item.layanan ?? '-'}
                  </td>
                  <td class="px-6 py-4 text-center">
                     ${item.priority ?? '-'}
                  </td>
                  <td class="px-6 py-4">
                     ${item.service_time ?? '-'}
                  </td>
                  <td class="px-6 py-4">
                     ${item.ip_address ?? '-'}
                  </td>
                  <td class="px-6 py-4">
                     ${item.node_name ?? '-'}
                  </td>
                  <td class="px-6 py-4 text-center">
                     ${item.klarifikasi ?? '-'}
                  </td>
                  <td class="px-6 py-4">
                     ${formatDateTime(item.created_at)}
                  </td>
               </tr>
            `;
         }
         if (solarwinds.length > 0) {
            solarwindsTable.innerHTML = html;
         } else {
            solarwindsTable.innerHTML = `
               <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-600">
                  <th colspan="8" scope="row"
                     class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                     No data available
                  </th>
               </tr>
            `;
         }

      }

      const renderSolarwindsPagination = () => {

         let html = `
            <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
               <li>
                  <button onclick="solarwindsPrevPage()" ${solarwindsPageIndex === 0 ? 'disabled="true"' : ''} class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 border border-gray-300 rounded-s-lg dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 ${solarwindsPageIndex === 0 ? 'bg-gray-300 disabled:opacity-50 cursor-not-allowed' : 'bg-white hover:bg-gray-100 hover:text-gray-700 dark:hover:bg-gray-700 dark:hover:text-white'}">Previous</button>
               </li>
               <li>
                  <button onclick="solarwindsNextPage()" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</button>
               </li>
            </ul>
         `;
         solarwindsPagination.innerHTML = html;
      }


      const appdynamicPrevPage = async () => {
         if (appdynamicPageIndex === 0) return;
         appdynamicPageIndex -= 1;
         await fetchAppDynamicsData();
      }

      const appdynamicNextPage = async () => {
         appdynamicPageIndex += 1;
         await fetchAppDynamicsData();
      }

      const solarwindsPrevPage = async () => {
         if (solarwindsPageIndex === 0) return;
         solarwindsPageIndex -= 1;
         await fetchSolarwindsData();
      }

      const solarwindsNextPage = async () => {
         solarwindsPageIndex += 1;
         await fetchSolarwindsData();
      }

      const fetchAppDynamicsData = async () => {
         appdynamics = await fetchAppDynamic();
         renderAppdynamicData();
         renderAppdynamicPagination();
      }

      const fetchSolarwindsData = async () => {
         solarwinds = await fetchSolarwinds();
         renderSolarwindsData();
         renderSolarwindsPagination();
      }

      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);

      const layananParam = urlParams.get('layanan')
      if (layananParam) {
         filter.appdynamics.app = layananParam;
         filter.solarwinds.layanan = layananParam;
      }

      fetchAppDynamicsData();
      fetchSolarwindsData();


   </script>
</body>

</html>